In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gdp.csv')

In [3]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [8]:
df_pr = df[df['Country Name'] == 'India']

In [13]:
data = df_pr.values

gdp_change = [0]

for i in range(1,len(data)):
    
    prev = data[i-1][3]
    cur = data[i][3]
    
    gdp_change.append(round(((cur - prev) / prev)*100,2))
df_pr = df_pr.assign(GDP = gdp_change)

In [14]:
df_pr.assign()

     Country Name Country Code  Year         Value    GDP
6074        India          IND  1960  3.653593e+10   0.00
6075        India          IND  1961  3.870910e+10   5.95
6076        India          IND  1962  4.159907e+10   7.47
6077        India          IND  1963  4.777600e+10  14.85
6078        India          IND  1964  5.572687e+10  16.64
6079        India          IND  1965  5.876042e+10   5.44
6080        India          IND  1966  4.525364e+10 -22.99
6081        India          IND  1967  4.946617e+10   9.31
6082        India          IND  1968  5.237732e+10   5.89
6083        India          IND  1969  5.766833e+10  10.10
6084        India          IND  1970  6.158980e+10   6.80
6085        India          IND  1971  6.645256e+10   7.90
6086        India          IND  1972  7.050991e+10   6.11
6087        India          IND  1973  8.437454e+10  19.66
6088        India          IND  1974  9.819828e+10  16.38
6089        India          IND  1975  9.715922e+10  -1.06
6090        India          IND  1976  1.013470e+11   4.31
6091        India          IND  1977  1.198667e+11  18.27
6092        India          IND  1978  1.354688e+11  13.02
6093        India          IND  1979  1.509508e+11  11.43
6094        India          IND  1980  1.838399e+11  21.79
6095        India          IND  1981  1.909095e+11   3.85
6096        India          IND  1982  1.980377e+11   3.73
6097        India          IND  1983  2.153508e+11   8.74
6098        India          IND  1984  2.093282e+11  -2.80
6099        India          IND  1985  2.294103e+11   9.59
6100        India          IND  1986  2.456647e+11   7.09
6101        India          IND  1987  2.753114e+11  12.07
6102        India          IND  1988  2.926327e+11   6.29
6103        India          IND  1989  2.920933e+11  -0.18
6104        India          IND  1990  3.166973e+11   8.42
6105        India          IND  1991  2.665023e+11 -15.85
6106        India          IND  1992  2.843639e+11   6.70
6107        India          IND  1993  2.755704e+11  -3.09
6108        India          IND  1994  3.229099e+11  17.18
6109        India          IND  1995  3.554760e+11  10.09
6110        India          IND  1996  3.876560e+11   9.05
6111        India          IND  1997  4.103203e+11   5.85
6112        India          IND  1998  4.157309e+11   1.32
6113        India          IND  1999  4.527000e+11   8.89
6114        India          IND  2000  4.621468e+11   2.09
6115        India          IND  2001  4.789655e+11   3.64
6116        India          IND  2002  5.080690e+11   6.08
6117        India          IND  2003  5.995929e+11  18.01
6118        India          IND  2004  6.996889e+11  16.69
6119        India          IND  2005  8.089011e+11  15.61
6120        India          IND  2006  9.203165e+11  13.77
6121        India          IND  2007  1.201112e+12  30.51
6122        India          IND  2008  1.186953e+12  -1.18
6123        India          IND  2009  1.323940e+12  11.54
6124        India          IND  2010  1.656617e+12  25.13
6125        India          IND  2011  1.823050e+12  10.05
6126        India          IND  2012  1.827638e+12   0.25
6127        India          IND  2013  1.856722e+12   1.59
6128        India          IND  2014  2.035393e+12   9.62
6129        India          IND  2015  2.089865e+12   2.68
6130        India          IND  2016  2.263792e+12   8.32

## Finding GDP Growth of a country

In [19]:
df_pr = df[df['Country Name'] == 'Arab World']

data = df_pr.values

gdp_change = [0]

for i in range(1,len(data)):
    
    prev = data[i-1][3]
    cur = data[i][3]
    
    gdp_change.append(round(((cur - prev) / prev)*100,2))
    
df_pr = df_pr.assign(GDP = gdp_change)

## Finding GDP Growth of Every country

In [21]:
final_data = []

for country_name in df['Country Name'].unique():
    
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):

        prev = data[i-1][3]
        cur = data[i][3]

        gdp_change.append(round(((cur - prev) / prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

In [22]:
df = pd.concat(final_data, axis = 0)

In [23]:
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

In [24]:
df.groupby('Country Name').max()['Value'].sort_values(ascending = False).head(50)

Country Name
World                                                   7.904923e+13
High income                                             5.036240e+13
OECD members                                            4.937008e+13
Post-demographic dividend                               4.673504e+13
IDA & IBRD total                                        2.948247e+13
Low & middle income                                     2.870476e+13
Middle income                                           2.829277e+13
IBRD only                                               2.739661e+13
Europe & Central Asia                                   2.365470e+13
East Asia & Pacific                                     2.248043e+13
Upper middle income                                     2.221220e+13
North America                                           2.016030e+13
Late-demographic dividend                               1.970310e+13
European Union                                          1.913667e+13
United States                                           1.862448e+13
Euro area                                               1.411818e+13
East Asia & Pacific (excluding high income)             1.351244e+13
East Asia & Pacific (IDA & IBRD countries)              1.348649e+13
China                                                   1.119915e+13
Early-demographic dividend                              1.052987e+13
Latin America & Caribbean                               6.391550e+12
Lower middle income                                     6.263373e+12
Japan                                                   6.203213e+12
Latin America & the Caribbean (IDA & IBRD countries)    6.171392e+12
Latin America & Caribbean (excluding high income)       5.905518e+12
Europe & Central Asia (IDA & IBRD countries)            4.893444e+12
Europe & Central Asia (excluding high income)           4.369243e+12
Germany                                                 3.890607e+12
Middle East & North Africa                              3.563559e+12
United Kingdom                                          3.074360e+12
France                                                  2.923466e+12
Arab World                                              2.906616e+12
South Asia (IDA & IBRD)                                 2.892481e+12
South Asia                                              2.892481e+12
Brazil                                                  2.616202e+12
Italy                                                   2.390729e+12
Russian Federation                                      2.297128e+12
India                                                   2.263792e+12
IDA total                                               2.094666e+12
Canada                                                  1.842628e+12
Sub-Saharan Africa                                      1.780285e+12
Sub-Saharan Africa (IDA & IBRD countries)               1.780285e+12
Sub-Saharan Africa (excluding high income)              1.778862e+12
Middle East & North Africa (excluding high income)      1.681555e+12
Middle East & North Africa (IDA & IBRD countries)       1.670274e+12
Spain                                                   1.635015e+12
Australia                                               1.567179e+12
Central Europe and the Baltics                          1.524160e+12
Pre-demographic dividend                                1.496971e+12
Korea, Rep.                                             1.411334e+12
Name: Value, dtype: float64